.woocommerce-product-gallery {
    opacity: 1; transition: opacity 0.25s ease-in-out 0s;
}

.img-div-container-gallery {
  position: relative; overflow: hidden;
}

.zoomImg {
    position: absolute; top: -183.642px; left: -364.784px; opacity: 0; width: 900px; height: 691px; border: none; max-width: none; max-height: none;
}

/* .product-name {
  font-size: 1rem !important;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:150px !important;
} */